<html>
<head>
    <title>Gamelove</title>
    <link  rel "stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
    <div id="mainpanel">
 People who love games just like me.<a href="/famous">some examples will convince you</a><div class=""></div>
</div>
<%-include('navbar.ejs')%->


</body>





</html>
