<html>


<head>
<title>Famous Games</title>
<link rel="stylesheet" type="text/css" href="steylesheet.css" / >
</head>
<body>
    <div id="mainpanel">
        <hl><%%></hl>
        The people who love games just like me<a href="/famous">twill convince you</a>
    </div>
    <ol>
    <li>mmorpg games</li>
    <li>rpg games</li>
    <li>interactive movies</li>
    </ol>
    <%-include('navbar.ejs')%>
</body>
</html>